<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="my_Messenger" class="com.kishore.service.My_Messenger">
		<property name="message"
			value="I am running from XML Bean.. :P"></property>
	</bean>

</beans>